@media (min-width: 1440px) {
    html {
        font-size: 16px;
    }

    main {
        padding: 1.5rem 3rem 0;
        margin: 25vh 31% 0;
        border-radius: 1rem;
    }
        main .advice-id {
            letter-spacing: 6px;
        }
        main .advice-quote {
            font-size: var(--Font-size-quote);
        }
        .btn {
            padding: 1.25rem;
            transition: box-shadow 100ms ease-in-out;
            user-select: none;
            -webkit-tap-highlight-color: rgba(0,0,0,0);
            -webkit-tap-highlight-color: transparent;
        }
            .btn:active {
                box-shadow: 0 0 40px 0 var(--Neon-Green);
            }
}