@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

:root {
    /* Primary colors */
    --Light-Cyan: hsl(193, 38%, 86%);
    --Neon-Green: hsl(150, 100%, 66%);
    /* Neutrall colors */
    --Grayish-Blue: hsl(217, 19%, 38%);
    --Dark-Grayish-Blue: hsl(217, 19%, 24%);
    --Dark-Blue: hsl(218, 23%, 16%);
    /* Font size for quote */
    --Font-size-quote: 28px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 14px;
    font-family: 'Manrope', sans-serif;
}

body {
    /* min-height: 100vh; */
    /* overflow: hidden; */
    background-color: var(--Dark-Blue);
    color: var(--Light-Cyan);
}

button {
    outline: none;
    border: none;
}
    .btn {
        margin: 0 auto -2rem;
        transform: translateY(50%);
        padding: 1rem;
        border-radius: 100%;
        background-color: var(--Neon-Green);
        display: grid;
        place-items: center;
    }

h1.hidden {
    position: absolute;
    transform: translateX(-100rem);
}

main {
    padding: 1rem;
    margin: 20vh 1rem 0;
    background-color: var(--Dark-Grayish-Blue);
    border-radius: .5rem;
    text-align: center;
}
    main .advice-id {
        text-transform: uppercase;
        color: var(--Neon-Green);
        font-size: .6rem;
        letter-spacing: 5px;
    }
    main .advice-quote {
        font-size: var(--Font-size-quote);
    }
    main .divider {
        margin: 2rem auto;
    }

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 1rem;
    margin: o auto;
}